.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  margin: 0;
  font-size: 24px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-text {
  margin-left: auto;
  margin-right: 0;
}
.whiteNav{
  background-color: #bac6d1;
  color:  #eff7ff !important;
  text-decoration: none;
}
.blueNav {
  background-color: #8AAAE5;
  color: #FEFEFE !important ;
  text-decoration: none;
}

.redNav {
  background-color: #990011;
  color: #FCF6F5 !important;
  text-decoration: none;
}

.goldNav {
  background-color: #d69600 ;
  color: #ffffff !important;
  text-decoration: none;
}

.redColor{
  color: #990011 !important;
  background-color: #FCF6F5 !important;
}
.blueColor{
  color: #8AAAE5 !important;
  background-color: #F4F6FF !important;
}
.goldColor{
  color: #e29b00 !important;
  background-color:#fffff8 !important;
}
.whiteColor{
  color: #99a5b1 !important;
  background-color:#f8fbff !important;

}
.redBorder{
  border:1px solid  #990011 ;
}
.blueBorder{
  border:1px solid  #8AAAE5 ;
}
.goldBorder{
  border:1px solid #d69600;
}
.whiteBorder{
  border:1px solid #a1abb5;
}
.whiteIcon{
  color: white;
}